# Ignorer le dossier Minecraft_Plugin

# Ignorer le fichier spécifique dans src/
Minecraft_Plugin.iml

# Ignorer les fichiers IntelliJ IDEA
*.iml
.idea/
out/
target/

# Ignorer les fichiers compilés et logs
*.class
*.log
